<h1>Welcome to the FAQ!</h1>

<h2 id="question_1">What is awesome answers?</h2>
<p>Lots of answers</p>

<h2 id="question_2">How long has it been alive</h2>
<p>Almost a day</p>

<h2 id="question_3">Can i ask anything on here?</h2>
<p>Maybe!</p>